{% extends "login/layout.html" %}

{% block body %}
Name: {{ user_data.name}}   
<br>
Salary: {{ user_data.salary}} 
<br>
Age: {{ user_data.age}} 
<br>
Occupation: {{ user_data.occupation}}
<br>
<br>
<br>
<br>


<!-- <form method="POST" action="">
    {% csrf_token %}
    {{filter_form.as_p}}
    <input type="submit" value="Submit" />
</form> -->

<form method="POST" action="">
  {% csrf_token %}

  <h3>Start Date:</h3>
<select name="start_year">
  <option value="2023">2023</option>
</select>

<select name="start_month">
  <option value="1">January</option>
  <option value="2">Feb</option>
  <option value="3">March</option>
  <option value="4">April</option>
  <option value="5">May</option>
  <option value="6">June</option>
  <option value="7">July</option>
  <option value="8">August</option>
  <option value="9">September</option>
  <option value="10">October</option>
  <option value="11">November</option>
  <option value="12">December</option>
</select>

<select class="form-select" id="day" name="start_day">
  <option value="01">01</option>
  <option value="02">02</option>
  <option value="03">03</option>
  <option value="04">04</option>
  <option value="05">05</option>
  <option value="06">06</option>
  <option value="07">07</option>
  <option value="08">08</option>
  <option value="09">09</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
  <option value="25">25</option>
  <option value="26">26</option>
  <option value="27">27</option>
  <option value="28">28</option>
  <option value="29">29</option>
  <option value="30">30</option>
  <option value="31">31</option>
</select>



<h3>End Date:</h3>
<select name="end_year">
  <option value="2023">2023</option>
</select>

<select name="end_month">
  <option value="1">January</option>
  <option value="2">Feb</option>
  <option value="3">March</option>
  <option value="4">April</option>
  <option value="5">May</option>
  <option value="6">June</option>
  <option value="7">July</option>
  <option value="8">August</option>
  <option value="9">September</option>
  <option value="10">October</option>
  <option value="11">November</option>
  <option value="12">December</option>
</select>

<select class="form-select" id="day" name="end_day">
  <option value="01">01</option>
  <option value="02">02</option>
  <option value="03">03</option>
  <option value="04">04</option>
  <option value="05">05</option>
  <option value="06">06</option>
  <option value="07">07</option>
  <option value="08">08</option>
  <option value="09">09</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
  <option value="25">25</option>
  <option value="26">26</option>
  <option value="27">27</option>
  <option value="28">28</option>
  <option value="29">29</option>
  <option value="30">30</option>
  <option value="31">31</option>
</select>

<br>

<input type="submit" value="Submit" />
</form>


<br>
<br>
<br>
<br>

    <table class="zigzag">
        <thead>
        <tr>
          <th class="header">Created</th>
          <th class="header">Transaction Amount</th>
          <th class="header">Purpose</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.created }}</td>
          <td style="text-align: center"> {{ transaction.transaction_amount }} </td>
          <td> {{ transaction.purpose}} </td>
        </tr>
        {% empty %}
        Empty
        {% endfor %}
        </tbody>
      </table>

<br>
<br>
<br>

<a href="{% url 'transaction' pk %}"> Transaction </a>
<br>
<br>
<a href="{% url 'logout' %}"> Logout </a>
{% endblock %}